<div class="muted-overlay"></div>
<h2 class="branded-overlay-h2">Charlotte Lucas</h2>
<h3 class="branded-overlay-h3">Click to Enter</h3>
{% comment %} <div class="social-nav hide-medium-down">
  <div class="arrow">
    <i class="fa fa-chevron-down fa-fw fa-2x" aria-hidden="true"></i>
  </div>
</div> {% endcomment %}
