<div class="muted-overlay"></div>
<img src="{{ 'logo_landing_white.png' | asset_url }}" />
<div class="social-nav hide-medium-down">
  <div class="arrow">
    <i class="fa fa-chevron-down fa-fw fa-2x" aria-hidden="true"></i>
  </div>
</div>
