<div class="press-collage">
    <img src="{{ 'renderMusic room.jpg' | asset_url }}" class="press-collage-item"/>
    <img src="{{ 'press4-clid portfolio 7.jpg' | asset_url }}" class="press-collage-item"/>
    <img src="{{ 'pressKitchen.jpg' | asset_url }}" class="press-collage-item"/>
    <img src="{{ 'render2 Master bedroom.jpg' | asset_url }}" class="press-collage-item"/>
</div>
