<!-- /templates/404.liquid -->

<header class="section-header section-header--404 text-center">
  <h1>Oops!</h1>
  <hr class="hr--small">
  <p>There's not a page here! Click <a href="/pages/home">here</a> to return home.</p>
</header>
