<!-- /templates/page_press.liquid -->
<div class="press-wrapper grid">
    <div class="press-one-third grid__item large--one-third">
        {% section 'press-item' %}
    </div>
    <div class="press-two-thirds grid__item large--two-thirds">
        {% section 'press-collage' %}
    </div>
</div>